/* appointmentassistant.css */

.appointment-assistant-container {
  display: flex;
  height: 100vh;
  width: 89%;
  margin-left: 200px;
  background-color: #9a6cb4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .appointment-main-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffffe5;
    border-radius: 50px 0 0 50px;
  }

  .appointment-assistant-top-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%; 
    border-radius: 20px;
    margin-left: 10px;
  }

  .appointment-assistant-search-input {
    border: 2px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
    height: 30px;
    text-indent: 35px;
    color: #042440;
  }

  .assistant-search-icon{
    position: absolute;
    left: 5px;
    font-size: 16px;
    color: #042440;
  }

  .appointment-assistant-top-search input.appointment-assistant-search-input {
    border: 2px solid #ffffff; 
    border-radius: 20px; 
    width: 98%; 
    margin-left: -10px;
  }

  
  .appointment-assistant-content-container {
    display: flex;
    flex-direction: column;
  }
  
  .appointment-assistant-content-section h2{
    color: #040404;
    margin-left: 10px;
    margin-top: 50px;
  }
  
  .appointment-assistant-middle-layout {
    flex: 1;
    padding: 20px;
  }
  
/* schedule */

.schedule-container {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 10px;
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.212);
}

.schedule-table {
  width: 1100px;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  padding: 10px;
  text-align: center;
}

.schedule-table th {
  background-color: #ffffff;
}

.schedule-cell {
  height: 10px;
  border-radius: 10px;
}

.schedule-cell.booked {
  background-color: #e39fa9;
  color: #ffffff;
}


/* upcoming */

.upcoming-appointments-container {
  margin-top: 20px;
  border-radius: 20px; /* Apply border-radius to all sides */
  background-color: #ffffff;
  overflow: hidden; /* Ensure border-radius is applied properly */
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.212); /* Add box shadow */
}

.upcoming-appointments-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px; /* Apply border-radius to all sides */
}

.upcoming-appointments-table th,
.upcoming-appointments-table td {
  padding: 10px;
  text-align: center;
}

.upcoming-appointments-table th {
  background-color: #ffffff;
  font-weight: normal;
}

.upcoming-appointments-table td {
  font-weight: bold;
  font-size: 15px;
  color: #67433b;
}

.upcoming-appointments-table td button {
  padding: 5px;
  background-color: #ffffff;
  color: #67433b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.upcoming-appointments-table td button:hover {
  background-color: #e39fa9;
  color: #ffffff;
}




