.firsttriAssistant-title {
    font-size: 5rem;
    font-style: oblique;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 650px;
    color: #E39FA9;
}

.firsttriAssistant-image-container {
    width: 100%; /* This ensures that the container takes up the full width of its parent */
    margin: 0 auto; /* Centers the container horizontally */
    height: 500px; /* Adjust the height to your desired value */
}



.firsttriAssistant-firsttri-image {
    display: block;
    margin: auto;
    border-radius: 50px;
    width: 1800px; /* Ensure the image fills its container */
    height: 900px; /* Maintain aspect ratio */
}

.firsttriAssistant-first-trimester-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 350px;
}

.firsttriAssistant-section {
    margin-bottom: 40px;
    margin-top: 80px; /* Adjust this value as needed */
}

.firsttriAssistant-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic;
    margin-top: 20px;
    text-align: center;

}

.firsttriAssistant-section h2 + hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

.firsttriAssistant-section p {
    font-size: 16px;
    text-align: justify;
 
}

.firsttriAssistant-section ul {
    list-style-type: none; /* Remove default list style */
    padding-left: 20px; /* Add left padding */
    line-height: 1.5; /* Adjust line height */
    margin-top: 20px;
    list-style-type: disc;
}

.firsttriAssistant-section ul li {
    margin-bottom: 10px; /* Reduce margin bottom to control spacing between list items */
    text-align: left;
}

.firsttriAssistant-section ul.firsttriAssistant-checklist li {
    font-size: 16px;
    margin-bottom: 5px; /* Adjust the margin bottom as needed */
    position: relative;
}

.firsttriAssistant-section ul.firsttriAssistant-checklist li::before {
    content: "\2713";
    color: green;
    font-size: 20px;
    position: absolute;
    left: -20px;
    top: 0;
}

.firsttriAssistant-tagline-container {
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: -50px;
}

.firsttriAssistant-tagline-content {
    border-left: 3px solid rgba(0, 0, 0, 0.764);
    margin-bottom: 50px;
    padding-top: 20px; /* Adjusted for vertical alignment */
    padding-bottom: 20px; /* Adjusted for vertical alignment */
    text-align: center;
    height: 30px;
    margin-top: 50px;
    margin-left: 40px;
}

.firsttriAssistant-tagline-content h2{
    margin-top: -20px;
    text-align: center;
    margin-left: 5px;
    width: 600px;
}

.firsttriAssistant-section img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Allow the image to adjust its width relative to its parent container */
    height: auto;
    border-radius: 25px;
    margin-bottom: 20px; /* Adjusted spacing below the image */
}

.firsttriAssistant-related-articles {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.firsttriAssistant-related-articles h2 {
    font-size: 24px;
    font-weight: bold;
}


.firsttriAssistant-article-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.firsttriAssistant-article-box {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px;
}

.firsttriAssistant-article-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.firsttriAssistant-article-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.firsttriAssistant-article-box p {
    font-size: 14px;
    line-height: 1.5;
}

.firsttriAssistant-article-box a {
    font-size: 14px;
    line-height: 1.5;
    color: blueviolet;
    font-style: italic;
    margin-left: -2px;
}

.firsttriAssistant-article-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.firsttriAssistant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firsttriAssistant-edit-button {
    background-color: #ffffff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 120px;
    margin-top: 40px;
}

.firsttriAssistant-edit-button svg{
    color: #E39FA9;
    font-size: 30px;
}

.firsttriAssistant-save-button {
    background-color: #ffffff;
    color: #E39FA9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-textarea {
    margin-left: 200px;
    font-size: 16px;
    height: auto;
    /* Add more styles as needed */
}

