/* Container */
.PatientUserManagement-container {
  display: flex;
  height: 100vh;
  background-color: #9a6cb4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */
.PUM-navbar {
  width: 200px;
  background-color: #9a6cb4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.PUM-sidebar-logo img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.PUM-sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  margin-left: 20px;
}

.PUM-sidebar-item {
  width: 80%;
  padding: 20px 0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.PUM-sidebar-item:hover {
  color: #7c459c;
}

/* Main Section */
.PUM-main-section {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffffe5;
  border-radius: 50px 0 0 50px;
}


.PUM-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 1280px;
  margin-top: -20px;
}

.PUM-user-profile {
  display: flex;
  flex-direction: column; 
  text-align: right;
  margin-top: 30px;
}

.PUM-user-profile h1 {
  margin: 0; /* Remove default margin */
  font-size: 18px; /* Adjust the size as needed */
  margin-right: 70px;
}

.PUM-user-profile p {
  margin: 0; 
  font-size: 14px; 
  color: #666;
  margin-right: 70px;
}

.PUM-user-profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 290px;
  margin-top: -45px;
}

/* Filter Options */
.PUM-filter-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.PUM-filter-container {
  display: flex;
  align-items: center;
  margin-top: -50px;
  margin-right: 40px;
}

.PUM-filter-container label {
  margin-right: 8px; /* Adjust the spacing between the label and select */
  margin-top: 8px;
}

.PUM-filter-container select {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px;
}


.PUM-toggle-select {
  display: flex;
  align-items: center;
  margin-left: 180px;
  margin-top: -50px;
}

.PUM-toggle-select label {
  margin-left: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.PUM-total-users {
  font-weight: bold;
  color: #ccc;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
}

.PUM-select {
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* User Table */
.PUM-user-table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 40px;
  
}

.PUM-user-table thead {
  background-color: #ffffff;
}

.PUM-user-table th, .PUM-user-table td {
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
}
.PUM-user-table th{
  color: #666;
}

.PUM-user-photo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover; /* Ensures the image covers the area without stretching */
}


/* Operation Buttons */
.PUM-operation-btn {
  background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 25px; /* Adjust icon size */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.PUM-delete-btn {
  color: #7c459c;
}

.PUM-operation-btn{
  color: #7c459c;
}

/* Type Buttons */
.PUM-type-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.PUM-type-button {
  padding: 20px 70px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #040404;
  font-size: 18px;
}

.PUM-type-button.active {
  border-bottom: 3px solid #e39fa9; /* Add a line below the button */
  color: #040404; /* Optional: Change the text color to match the line */
}


.PUM-type-button:hover {
  background-color: #7c459c;
  color: #ffffff;
}

/* View Label */
.PUM-view-label {
  margin-bottom: 10px;
  text-align: left;
  margin-top: 10px;
  margin-left: 40px;
}

.PUM-view-label h2 {
  font-size: 30px;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 10px;
}

.PUM-status-select {
  padding: 5px;
  width: 100px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.PUM-status-select:focus {
  border-color: #007bff;
  outline: none;
}

.PUM-status-select option {
  padding: 5px;
  background-color: #fff;
  color: #333;
  width: 250px;
}

/* Style for table headers and cells */
.PUM-user-table th, .PUM-user-table td {
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
  width: 250px;
}

/* Set column widths */
.PUM-user-table th:nth-child(1),
.PUM-user-table td:nth-child(1) {
  text-align: center;
  width: 100px;
}

.PUM-user-table th:nth-child(2),
.PUM-user-table td:nth-child(2) {
  text-align: center;
}


