/* Container Background */
.user-profile-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%; 
  height: 100vh; 
  background-color: #ffffff !important;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px; 
}

.user-profile-back-btn {
  position: fixed;
  top: 20px; 
  left: 20px; 
  color: #042440; 
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.user-profile-back-btn:hover {
 color: #7c459c;
}

.user-profile-back-icon {
  margin-right: 8px; 
}

/* left section */
.left-section {
  background-color: #ffffff;
  height: 30%;
  width: 18%; /* Adjust based on your design */
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-left: 180px !important;
}

.left-section h2 {
  margin-top: 20px;
  font-size: 24px;
  color: #042440;
  margin-left: -200px;
}

.left-section p {
  margin-top: 10px;
  font-size: 16px;
  color: #042440d9;
  margin-left: -180px;
}

.settings-button-container {
  margin-top: 20px; /* Space between <p> and buttons */
  margin-left: -170px;
  
}

.settings-btn {
  display: block; 
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px;
  background-color: transparent;
  color: #042440; 
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  text-align: left;
  margin-left: 20px;
}

.settings-btn:hover {
  background-color: #e8e8e8; 
  border-left: 5px solid #E39FA9;
}


/* Left Container for Profile Picture */
.user-profile-left-container {
  position: fixed; 
  height: 400px; 
  width: 350px;
  top: 50px; 
  left: 1370px; 
  margin: 0;
  transition: all 0.3s ease; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
}

.user-profile-image-input{
  display: trans;
}

/* Profile Image Container */
.user-profile-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-image-border {
  width: 250px;
  height: 250px;
  border: 2px solid #9a6cb4;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 40px;
  object-fit: cover;

}

.user-profile-image-header {
  text-align: left;
  margin-bottom: 20px; 
  margin-left: 10px;

}

.user-profile-image-title {
  font-size: 24px;
  color: #042440;
  margin-bottom: 10px; 
  margin-left: 10px;
}

.user-profile-image-description {
  margin-top: -20px !important;
  font-size: 16px;
  color: #042440d9;
  margin-left: -10px !important;
  padding: 20px;
}

.user-profile-upload-button {
  position: absolute;
  top: 100px; 
  left: 270px;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #7c459c;
  font-size: 24px;
  z-index: 10;
}

.user-profile-upload-button:hover {
  color: #E39FA9;
}

.user-profile-image-input {
  display: none;
}

/* Right Container for Personal Information */
.user-profile-right-container {
  padding: 20px;
  background-color: #ffffff;
  width: 40%; /* Adjust based on your design */
  height: 80%; /* Set to auto to accommodate content */
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Align Right Container Text */
.user-profile-right-container h2 {
  text-align: left;
  margin-top: 0px;
  font-size: 24px;
  color: #042440;
  margin-left: 30px;
}

.user-profile-right-container p {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  color: #042440d9;
  margin-left: 30px;
}

.user-profile-items-wrapper{
  margin-top: -25px;
}

.user-profile-divider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0; 
  margin-top: 45px;
  margin-bottom: 10px; 
  padding-bottom: 40px;
  
}

.user-profile-divider-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #9a6cb4; /* Divider color */
  transform: translateY(-50%);
}

.UP-divider-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff; /* Background color behind the text */
  padding: 0 10px;
  font-size: 16px;
  color: #9a6cb4; /* Text color */
}

.user-profile-item {
  display: flex;
  align-items: center;
  margin: 10px 0; 
  margin-left: 50px;
  width: 600px;
}

.user-profile-item label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px; /* Space between label and detail */
  width: 150px; /* Adjust width as needed */
}

.user-profile-detail {
  padding: 20px;
  border: 1px solid #042440;
  background-color: #ffffff;
  flex: 1; /* Take up the remaining space */
}

.user-profile-divider {
  position: relative;
  width: 100%;
  margin: 20px 0; /* Adjust spacing as needed */
  margin-top: 40px;
}

.user-profile-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #9a6cb4; /* Divider color */
  transform: translateY(-50%);
}

.UP-divider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff; /* Background color behind the text */
  padding: 0 10px;
  font-size: 16px;
  color: #9a6cb4; /* Text color */
}

.user-profile-details label {
  font-weight: bold;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
  color: #603830;
}

/* File Input */
.user-profile-file-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Buttons */
.user-profile-edit-buttons {
  float: right;  
  margin-right: 20px;
}

.user-profile-edit-btn {
  padding: 8px 150px;
  background-color: #E39FA9;
  color: #fff;
  border: none !important;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 40px;
}

.user-profile-edit-btn:hover {
  background-color: #7c459c;
}

/* Buttons */
.user-profile-button-group {
  display: flex;
  justify-content: center; 
  margin-top: 50px; 
  justify-content: center;  
}

.user-profile-save-btn,
.user-profile-cancel-btn {
  padding: 10px 160px; 
  background-color: #9a6cb4; 
  color: #fff; 
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px; 
  width: auto; 
  min-width: 100px; 
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
  white-space: nowrap;
}

.user-profile-save-btn:hover,
.user-profile-cancel-btn:hover {
  background-color: #7c459c; 
}

.user-profile-cancel-btn {
  background-color: #E39FA9; 
}



/* Input Fields */
.user-profile-details {
  color: #ffffff;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.user-profile-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-profile-input-group label {
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px; /* Space between label and input */
  width: 150px; /* Adjust width as needed */
}

.user-profile-input {
  padding: 15px 15px;
  border-radius: 0px !important;
  border: 1px solid #042440 !important;
  background-color: #ffffff !important;
  width: 400px;
}

/* password setting */

.CP-divider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff; /* Background color behind the text */
  padding: 0 10px;
  font-size: 16px;
  color: #9a6cb4; /* Text color */
}

.change-pass-divider {
  position: relative;
  width: 100%;
  margin: 20px 0; /* Adjust spacing as needed */
  margin-top: 25px;
  margin-left: 0px;
  padding-bottom: 30px;
}

.change-pass-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #9a6cb4; /* Divider color */
  transform: translateY(-50%);
}

.CP-user-profile-details {
  color: #ffffff;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.cp-error-message{
  font-size: 16px; /* Adjust font size as needed */
  margin-top: 10px; /* Space above the error message */
  margin-bottom: 10px; /* Space below the error message */
  padding: 10px; /* Padding around the message */
  border-radius: 4px; 
}

/* toggle */ 

.notification-settings{
  margin-top: 70px;
  margin-left: 50px;
}
.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0; 
  padding-top: 20px;
}

.toggle {
  display: flex;
  align-items: center; 
  position: relative;
}

.toggle input {
  display: none;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 34px; 
  height: 20px; 
  background-color: #ccc; 
  border-radius: 34px; 
  transition: background-color 0.4s;
  margin-right: 10px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px; 
  left: 2px; 
  bottom: 2px; 
  background-color: white; 
  border-radius: 50%; 
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: #9a6cb4; 
}

input:checked + .slider:before {
  transform: translateX(14px); 
}

.toggle-label {
  white-space: nowrap; 
}
