.PatientDashboard {
  padding: 20px;
  position: relative;
  background-color: #ffffff;
  height: 100vh;
}

.NotificationsSection {
  border: none !important;
  border-radius: 8px;
}

.section-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 120px !important;
  color: #7c459c !important;
  margin-top: 20px;
}

.section-divider {
  border: none;
  border-top: 2px solid #00000032;
  margin: 0 30px 20px 30px;
}

.no-notifications {
  text-align: center;
  color: #7c459c !important ;
  font-size: 1.2rem;
  margin-top: 150px;
}

.no-notifications h1 {
  text-align: center;
  color: #e39fa9 !important;
  font-size: 2rem;
  margin-bottom: 10px;
}

.notif-back-button {
  position: absolute;
  margin-top: -15px; 
  left: 20px; 
  color: #7c459c;
  font-size: 40px;
  text-decoration: none;
  z-index: 999; 
}

.no-notifications p {
  text-align: center;
  color: #7c459c !important;
  font-size: 1.2rem;
  font-style: italic;
}

.caught-up-icon {
  margin-top: 20px;
  font-size: 7rem;
  color: #7c459c !important;
  margin-bottom: 20px;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-text {
  flex-grow: 1;
}

.notification-title {
  font-size: 1.2rem;
  color: #333;
}

.notification-subtitle {
  font-size: 1rem;
  color: #666;
}

.notification-time {
  font-size: 0.9rem;
  color: #999;
}

.notification-message {
  margin-top: 10px;
  font-size: 1rem;
  color: #444;
}
