
  .LC-library-layout{
    background-color: #9a6cb4;
  }
  
  .LC-main-content {
    margin-left: 250px; /* Leave space for the sidebar */
    padding: 20px;
    width: 87%; /* Adjust width to fit the remaining space */
    overflow-y: auto; /* Allow scrolling if content overflows */
    background-color: #ffffffe5;
    border-radius: 50px 0 0 50px;
    height: 94vh;
  }
  
  .LC-library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .LC-library-title {
    margin: 0;
    color: #7c459c;
    font-size: 30px;
    font-weight: bolder !important;
    margin-left: 45px;
    white-space: nowrap;
  }
  
  .LC-library-section .LC-book-list-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: -100px; /* Adjust this for library section */
  }
  
  .LC-header-actions {
    display: flex;
    align-items: center;
    margin-left: 400px !important;
    margin-right: 100px;
  }
  
  .LC-search-container{
    display: flex;
    align-items: center; 
    position: relative;
  }
  
  .LC-search-icon {
    position: absolute; 
    left: 10px; 
    color: #040404; 
    pointer-events: none;
  }
  
  .LC-search-bar-library {
    padding: 10px !important;
    margin-right: 50px;
    border: transparent !important;
    border-radius: 5px;
    width: 300px;
    background-color: #ffffff !important;
    text-indent: 25px;
    color: #040404; 
  }
  
  .LC-filter-dropdown {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 300px;
  }
  
  .LC-filter-dropdown option {
    padding: 8px;
    background-color: #f9f9f9;
  }
  
  .LC-library-section {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #040404 !important;
  }
  
  .LC-library-section h2 {
    color: #2f2d2d !important;
  }
  
  .LC-library-item {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 20px;
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
    cursor: pointer;
  }
  
  .LC-library-item img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px; /* Space between image and details */
    border-radius: 10px;
  }
  
  .LC-library-item .LC-book-details {
    text-align: left; /* Center align the details */
  }
  
  .LC-library-item .LC-book-title {
    margin: 0;
    width: 150px;
    font-size: 1.2em;
    color: #333;
  }
  
  .LC-library-item .LC-book-author {
    margin: 5px 0;
    color: #666;
    font-size: 12px;
  }
  
  .LC-library-item:hover {
    background-color: #ececec;
    background-color: #9a6cb450;
    border-radius: 20px;
  }

  .LC-add-article-button {
    margin-right: 10px; 
    padding: 8px 30px;
    background-color: transparent;  
    color: #040404; 
    border: none; 
    cursor: pointer; 
    font-size: 1rem;
  }
  
  .LC-add-article-button:hover {
    color: #7c459c; 
  }

  .LC-overlay {
    position: absolute;
    top: 5px;
    left: 25px;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    font-weight: bold;
  }
  
  .LC-visible-overlay {
    display: flex; 
  }
  
  .LC-library-item:hover .LC-visible-overlay {
    opacity: 1;
  }
  
  .LC-approval-buttons {
    display: flex;             
    flex-direction: column;    
    gap: 10px;                   
    align-items: center; 
  }
  
  .LC-approve-btn, .LC-reject-btn {
    padding: 5px 10px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 14px; 
  }
  
  .LC-approve-btn {
    background-color: #7c459c;
    color: white;
  }
  
  .LC-reject-btn {
    background-color: #e39fa9;
    color: #2f2d2d;
  }
  
