.morning-sickness-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCFAF2;
    padding: 100px; /* Reduced padding for better layout */
    font-family: 'Playfair Display', serif;
    color: #603830;
  }
  
  .morning-sickness-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .morning-sickness-label {
    background-color: #FCFAF2;
    color: #603830;
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 20px; /* Adjusted to position correctly */
    border: 2px solid #603830;
  }
  
  .morning-sickness-title {
    font-size: 70px; /* Reduced size for better visual hierarchy */
    margin: 0;
    color: #603830;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-left: 0; /* Centered title */
  }
  
  .morning-sickness-subtitle {
    font-size: 14px;
    color: #E39FA9;
    margin-top: 30px;
    font-style: normal;
  }
  
  .morning-sickness-content {
    text-align: center;
    max-width: 800px;
    margin-top: 20px; /* Adjusted margin for better spacing */
  }
  
  .morning-sickness-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .morning-sickness-quote {
    font-size: 20px;
    font-style: italic;
    color: #a11d1d;
    margin: 50px 0; /* Spacing above and below the quote */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .morning-sickness-quote-icon {
    font-size: 40px; /* Adjust size as needed */
    margin-right: 20px; /* Space between icon and text */
  }
  
  .quote-text {
    display: inline;
  }
  
  .morning-sickness-quote-author {
    display: block;
    font-size: 12px;
    color: #a11d1d8b;
    position: absolute;
    bottom: -20px; /* Adjust as needed to position below quote */
    left: 50%;
    transform: translateX(-50%); /* Center the author name */
    font-style: normal;
  }
  
  .morning-sickness-image-container {
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
  }
  
  .morning-sickness-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .morning-sickness {
    text-align: left;
    max-width: 800px;
    margin-top: 50px;
  }
  
  .morning-sickness h2 {
    text-align: center;
    color: #603830;
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic;
  }
  
  .morning-sickness-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .morning-sickness-list li {
    margin-bottom: 20px; /* Increased margin for better readability */
    font-size: 18px;
  }
  
  .morning-sickness-info {
    text-align: left;
    max-width: 800px;
    margin-top: 50px;
  }
  
  .morning-sickness-info h2 {
    text-align: center;
    color: #603830;
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic;
  }
  
  .morning-sickness-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .morning-sickness-additional-info-box {
    text-align: center;
    max-width: 800px;
    margin-top: 50px;
    z-index: 1;
  }
  
  .morning-sickness-additional-info-box .morning-sickness-navigation-buttons {
    display: flex;
    justify-content: space-between; /* Center the buttons horizontally */
    position: absolute; /* Position the buttons relative to the parent */
    bottom: -1200px; /* Adjust to move the buttons down */
    left: 380px; /* Adjust to position the "previous" button */
    right: 500px; /* Adjust to position the "next" button */
    margin: 90px;
  }
  
  .morning-sickness-additional-info-box button {
    padding: 10px 20px;
    background-color: #FCFAF2;
    color: #603830;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .morning-sickness-additional-info-box button:hover {
    background-color: #8c6b59;
  }
  
  